apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: color-manager-app
spec:
  replicas: 2
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: princewillopah2/color-manager-app_backend:1.1.2 #<ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/color-manager-app-backend:<SHA>
        ports:
        - containerPort: 3000
        envFrom:
        - secretRef:
            name: mongo-secret
        # readinessProbe:
        #   httpGet:
        #     path: /health
        #     port: 3000
        #   initialDelaySeconds: 5
        # livenessProbe:
        #   httpGet:
        #     path: /health
        #     port: 3000
        #   initialDelaySeconds: 15
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
