name: Deploy to EKS
on:
  push:
    branches:
      - main
env:
  AWS_REGION: us-east-1
  ECR_REPO_BACKEND: taskflow-backend
  ECR_REPO_FRONTEND: taskflow-frontend
  EKS_CLUSTER: taskflow-cluster
  MONGO_URI: ${{ secrets.MONGO_URI }}
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::016696895968:role/GitHubEKSDeployRole #<ACCOUNT_ID>:role/<ROLE_NAME> --- IGNORE ---
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ${{ env.AWS_REGION }} | \
          docker login --username AWS --password-stdin 016696895968.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com

      - name: Build and push backend
        run: |
          docker build -t ${{ env.ECR_REPO_BACKEND }} apps/backend
          docker tag ${{ env.ECR_REPO_BACKEND }}:latest 016696895968.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_BACKEND }}:latest
          docker push 016696895968.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_BACKEND }}:latest

      - name: Build and push frontend
        run: |
          docker build -t ${{ env.ECR_REPO_FRONTEND }} apps/frontend
          docker tag ${{ env.ECR_REPO_FRONTEND }}:latest 016696895968.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_FRONTEND }}:latest
          docker push 016696895968.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO_FRONTEND }}:latest

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{ env.EKS_CLUSTER }} --region ${{ env.AWS_REGION }}

      - name: Test kubeconfig
        run: |
            kubectl get ns

      - name: Create namespace
        run: |
          kubectl create namespace taskflow-ns --dry-run=client -o yaml | kubectl apply -f -
      
      - name: Create secret
        run: |
          kubectl delete secret mongo-secret -n taskflow-ns --ignore-not-found
          kubectl create secret generic mongo-secret \
            --from-literal=MONGO_URI=${{ env.MONGO_URI }} \
            -n taskflow-ns
      
      - name: Deploy backend
        run: |
          kubectl apply -f k8s/backend/ -n taskflow-ns
      
      - name: Deploy frontend
        run: |
          kubectl apply -f k8s/frontend/ -n taskflow-ns
      
      - name: Deploy ingress
        run: |
          kubectl apply -f k8s/ingress.yaml -n taskflow-ns